* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}
.join_us {
  display: flex;
  margin-top: 5.5rem;
}
.join_us_content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-radius: 1.4rem;
  margin: 2rem 3rem 6rem 3rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 400;
}
.upper_green_ring {
  position: absolute;
  left: -0.3%;
  z-index: 0;
}
.lower_green_ring {
  position: absolute;
  bottom: -0.5%;
  right: -0.4%;
  z-index: 0;
}
.join_text {
  width: 50%;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #f6f7f7;
  row-gap: 2rem;
}

.join_heading {
  color: #053b3f;
  font-family: Noto Sans;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 800;
  margin-top: 50%;
  /* line-height:1; */
}
.join_para {
  color: #000;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join_us_form {
  width: 50%;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
}
.form_body {
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.fill_form {
  text-align: left;
  font-weight: 700;
  color: #053b3f;
  font-size: 2rem;
}
.fill_para {
  text-align: left;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.form_inputs {
  padding: 0.6rem 0.6rem 0.6rem 1rem;
  border-color: #f6f7f7;
  border-color: white;
  border: none;
  width: 50%;
  border-radius: 0.4375rem;
  background: #f2f3f2;
}
.form_name {
  width: 48%;
}
.form_gender,
.form_age {
  width: 20%;
}
.form_message {
  resize: none;
  width: 100%;
}
.first_row,
.second_row,
.third_row,
.fourth_row,
.fifth_row {
  display: flex;
  column-gap: 2rem;
}

.terms {
  display: flex;
}
.submit_button {
  align-self: center;
  border-radius: 0.4375rem;
  background: #053b3f;
  width: 10.125rem;
  height: 2rem;
  color: white;
  font-weight: 500;
  flex-shrink: 0;
}
.filename{
  font-size: 13px;
  align-self: center;
  margin-bottom: 0.5rem;
}
.upload {
  padding-top: 0.2rem;
  border-radius: 0.7rem;
  width: 7rem;
  background-color: #f2f3f2;
  cursor: pointer;
  z-index: 1;
  height: 2rem;
  text-align: center;
}
.upload_file {
  display: flex;
}
.upload_photo {
  margin-right: 11.1rem;
}
/* Media query for smaller screens, such as tablets */
@media only screen and (max-width: 992px) {
  .join_us {
    flex-direction: column;
  }
  .join_heading{
    margin-top: 30%;
  }
  .join_us_content {
    width: 100%;
    margin: 0;
  }

  .join_text,
  .join_us_form {
    width: 100%;
    border-radius: 0;
  }

  .join_us_form {
    padding: 2rem;
  }

  .form_inputs {
    width: 100%;
  }

  .form_name,
  .form_gender,
  .form_age {
    width: 100%;
  }

  /* .upper_green_ring,
    .lower_green_ring {
      display: none;
    } */
}
@media only screen and (max-width: 600px) {
  .join_us_content {
    margin: 0;
  }

  .join_text,
  .join_us_form {
    border-radius: 0;
  }

  .form_inputs {
    width: 100%;
    padding: 0.6rem;
  }

  .first_row,
  .second_row,
  .third_row,
  .fourth_row,
  .fifth_row {
    flex-direction: column;
    row-gap: 1rem;
  }

  .form_name,
  .form_gender,
  .form_age {
    width: 100%;
  }
  .upper_green_ring,
  .lower_green_ring {
    height: 160px;
    width: 150px;;
  }
  .lower_green_ring{
    bottom: 0;
  }
  .upload_photo {
    margin-right: 10rem;
    flex-wrap: wrap;
  }
  .filename {
    white-space: nowrap;       /* Prevent text from wrapping */
    overflow: hidden;         /* Hide overflowed text */
    text-overflow: ellipsis;  /* Show ellipsis (...) when text overflows */
    max-width: 50%;
  }
}
