.Share_exp_main {
    display: flex;
    justify-content: center;
    /* margin-bottom: 1rem; */
  }
  .Share_exp_container {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 0.2px solid #00000033;
  }
  /* ***********LEFT HALF*********** */
  .Share_exp_container_left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    justify-content: space-evenly;
    background-color: #f6f6f6;
    border: 0.2px solid #00000033;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    align-items: center;
  }
  .scl_heading {
    font-family: Noto Sans;
    color: #053b3f;
    font-size: 2.7rem;
    text-align: center;
    font-weight: 800;
    line-height: 3rem;
    text-wrap: wrap;
    z-index: 1;
  }
  .scl-subheading {
    place-self: inherit;
  }
  
  .scl_content {
    width: 75%;
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    text-wrap: wrap;
    color: #000000;
    margin-top: -6rem;
  }
  /* ***********RIGHT HALF*********** */
  .Share_exp_container_right {
      position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }
  .scr_heading {
    text-wrap: wrap;
    font-family: Noto Sans;
    color: #053b3f;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 57px;
  }
  .scr_subheading {
    text-wrap: wrap;
    font-family: Noto Sans;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 1rem;
  }
  .scr-subheading-1 {
    width: 90%;
    text-align: left;
  }
  .Share_exp_form {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    width: auto;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    height: 0;
  }
  
  .form input[type="text"],
  .form input[type="number"],
  .form input[type="email"],
  .form input[type="tel"],
  .textarea-box,
  .form input[type="submit"] {
    background-color: #f6f6f6;
    border: none;
    padding: 0.65rem;
    border-radius: 5px;
  }
  #name,
  #address,
  #email,
  #state,
  #country,
  #city,
  #phone,
  #disease,
  #pathies {
    width: 14rem;
  }
  #pathies{
    width: 29.5rem;
  }
  #age,
  #gender {
    width: 6.25rem;
  }
  .firstrow,
  .secondrow,
  .thirdrow,
  .fourthrow,
  .fifthrow,
  .lastrow,.sixthrow {
    gap: 0.5rem;
  }
  .form_date_text {
    font-size: medium;
    font-weight: bold;
    margin-left: 6px;

  }
  #date_from {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    width: 110px;
    border: 1px solid #ccc;
    border-radius: 3px;
cursor: pointer;
  }
  #date_to {
    margin-left: 10px;
    font-size: 15px;
    width: 110px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
  .last-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 4rem;
  }
  
  .text-area-heading{
      font-weight: bold;
      text-align: left;
  }
  
  .asterik {
    padding-inline-start: 0.3rem;
    color: red;
  }
  
 
  .textarea-box {
    width: 29rem;
    height: 8rem;
  }
  
  .lastrow {
    display: flex;
    flex-direction: column;
  }
  
  .last1,
  .last2,
  .last3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: first baseline;
  }
  .gap-yes-no {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .radio-text {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    font-size: 0.8rem;
  }
  .p1 {
    text-align: left;
    font-size: 0.8rem;
  }
  .submit {
    margin-top: 1rem;
    border-radius: 0.5rem;
    align-self: center;
    padding: 0.6rem;
    width: 11rem;
    background-color: #053b3f;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .btn {
    margin-right: 1rem;
    border-radius: 10px;
    width: 7rem;
    background-color: #f6f6f6;
    cursor: pointer;
    z-index: 1;
    margin-left: 20px;
  }
  
  /* ***********POSITIONING OF RINGS*********** */
  .ring-tl {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .ring-rb {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  /* **********FOR 1000px********** */
  @media only screen and (max-width: 1050px) {
    .Share_exp_container {
      display: flex;
      flex-direction: column;
      width: 95vw;
      height: auto;
      margin-top: 8rem;
      /* margin-bottom: 12rem; */
      box-shadow: 0px 4px 4px 0px #00000040;
    }
    .Share_exp_container_left {
      width: 100%;
      height: auto;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 20px;
    }
    .scl_heading {
      padding-top: 8rem;
    }
    .scl_content {
      height: auto;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
    .Share_exp_container_right {
      border-top: 0.2px solid #00000033;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      width: 100%;
      padding-top: 5rem;
      margin-top: 2rem;

    }
  }
  
  /* **********FOR 500px********** */
  @media only screen and (max-width: 500px) {
    .Share_exp_container {
      display: flex;
      flex-direction: column;
      width: 95vw;
      height: auto;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
    .scl_heading {
      padding-top: 5rem;
      font-size: 2rem;
    }
    .scl_content {
      padding: 10rem 1rem 5rem;
      z-index: 1;
    }
    .scl-subheading {
      margin-inline-start: 0%;
    }
    .Share_exp_container_right {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      padding-top: 1rem;

    }
    .scr_heading {
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 35px;
    }
    .scr_subheading {
      text-align: center;
      width: 100%;
      padding: 0 .8rem;
      padding-top: 0.5rem;
      font-size: 11.5px;
      line-height: 16px;
    }
    .scr-subheading-1 {
      width: 100%;
      margin: 0 3px;
      text-align: center;
    }
    .Share_exp_form {
      flex-direction: column;
    }
  
    .form {
      all: unset;
      display: flex;
      flex-direction: column;
    }
    #name, #address, #email, #state, #country, #city, #phone, #disease, #pathies,#age,#gender{
      width: 15rem;
    }
    
    .text-area-heading{
      margin-inline-start: 1rem;
  
    }
    .textarea-box{
      /* margin-left: 1.4rem; */
      width: 20rem;
      
    }
    .sixthrow{
      /* background-color: black; */
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .last-half{
      /* background-color: red; */
      margin-top: 1rem;
    }
    .lastrow
    {

      /* padding: 1rem 1.5rem 0rem; */
      margin: 0rem .5rem;
    }
    .ring-rb{
      height: 150px;
      width: 160px;
    }
    .ring-tl
    {
      height: 160px;
      width: 150px;
    }
    @media only screen and (max-width: 360px)
    {
      .textarea-box{
        width: 17rem;
      }
    } 
  }
  