.hsp_outer{
    border: 0.2rem solid black;
}
.hsp_outer_mid{
    border: 0.2rem solid black;
}
.hsp_outer_mid_left{
    border: 0.2rem solid black;
}
.hsp_outer_mid_right{
    border: 0.2rem solid black;
}