@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.extraspace{
    height: 90px;
    width: 100%;
}
.diseases-top-main{
    color: #053B3F;
}
.diseases-top-container{
    position: relative;
    width: 96.2vw;
    height: 520px;
    // overflow: scroll;
    display: flex;
    flex-direction: row;
    // background: #b9b9b9;
    background: #ececec;
    
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;

    .disease-left{
        display: flex;
        align-items: center;
        margin-left:50px ;
        img{
            height: 444px;
            width: auto;
            max-width: 493px;
        }
    }
    .disease-right{
        text-align: left;
        margin: auto 60px;

        p{
            overflow: scroll;

            scrollbar-width: none;
            max-height: 150px;
            max-width: 800px;
            font-size: 16px;
            // margin-bottom: 20px;
            // margin: 20px auto;
        }
        h1{
            font-weight: bold;
            margin-top: 20px;
            // margin: 20px auto;
        }
        h2{
            font-weight:500;
            margin-top: 15px;
            // margin: 15px auto;
        }



    }
}




.diseases-top-end{
.g-line{
    width: 100%;
    height: 9px;
    // margin-top: 20px;
    background-color: #053B3F;
    color:white;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    .g-round{
        display: flex;
        margin: auto;position: relative;
        background-color: #053B3F;
        padding: 0px;
        // margin-top: 20px;
        border-radius: 80px;
        height: 71px;
        width: 401px;
        font-size: 40px;
        justify-content: center;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        position: relative;
        bottom: 32px;
        padding: 5px;
    }
}
}



@media screen and (max-width: 915px){
   .diseases-top-container{
    .disease-left{
        display: none;
    }
    .disease-right{
        p{
            max-width: 90vw;
        }
    }
   }
}

@media screen and (max-width: 570px){
    // 
}
