.searchbar_outer{
    /* margin-top: 1rem; */
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-color: #ffff; */
    border: 0.2 solid black;
}
.searchbar_outer_input{
    border-radius: 0.2rem;
    border-style: none;
    height: 3rem;
    padding: 1rem;
    width: 80%;
    margin: 1rem 0rem;

}
.searchbar_outer_button{
    border-radius: 0.2rem;
    border-style: none;
    background-color: #053B3F;
    width: 30%;
    height: 3rem;
    font-family: 'Sombra';
    text-align: center;
    font-weight: 700;
    color: #ffff;
}
@media screen and (max-width: 500px){
    .searchbar_outer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}