.Feedback_main {
    display: flex;
    justify-content: center;
    /* margin-bottom: 2.5rem; */
 }
  .Feedback_container {
    background-image: url("../../../public/Images/green\ infographics_c.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 85%;
    /* height: 85vh; */
    height: auto;
    margin-bottom: 2.5rem;
    margin-top: 8rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 0.2px solid #00000033;
    background-color: #FFFFFF;
    z-index: 1000;
    padding: 1rem;
    /* background-color: bisque; */
  }
  .fb_bg
  {
    /* position: absolute; */
    /* height: 100%; */
    /* width: 100%; */
    bottom: -18%;
    background-color: red;

  }
.infographics-bg{
  /* position: absolute; */
  /* bottom: -18%;
  /* right: -1%; 
  width: 100%;
  height: 100%; */
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  z-index: -1;
}
.doctor-image{
  width: 50%;
  position: relative;
}
.doctor-r{
  position: absolute;
  top: 10%;
  right: 24%;
  width: 40%;
  height: 80%;
  /* margin-top: 5%; */
}
.Feedback_left{
  /* position: absolute; */
  /* margin-top: 50px; */
  width: 50%;
  /* background-color: red; */
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 1rem;
}
.feedback{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;

}

.fb_heading{
  font-size: 2.5rem;
  font-weight: 700;
  color:  #053b3f;
  text-align: left;
}
.fb_p1{
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  /* margin-bottom: 30px; */
}
.fb_p2{
  font-size: 17px;
  margin-bottom: 2px;
  font-weight: 500;
  text-align: left;
  
}
.fb_p3{
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #053B3F;
  text-align: left;
  
}

.fb_textarea-box {
  width: 26rem;
  height: 10rem;
  background: #FFFFFF;
  border-color: #8f9394;
  border-style: solid;
  border-radius: 5px;
  padding: .5rem .75rem;
  margin-top: .5rem;
}
/* .fb_textarea-box{ */
  /* width: 100%; */
  /* height: 100%; */
/* } */
.fb_button{
  width: 100%;
  display: flex;
  /* background-color: black; */
  /* align-items: center; */
  justify-content: center;
}
.fb_button input[type="submit"]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.125rem;
  height: 3rem;
  background: #053b3f;
  color: white;
  border-radius: 0.4375rem;
  align-self: center;
}
@media screen and (max-width:830px) {
  .fb_textarea-box{
    width: 21rem;
  }
  .doctor-r{
    display: none;
  }
  .Feedback_container{
    width: 60%;
  }
  .Feedback_left{
    width: 100%;
  }
  .feedback{
    /* justify-content: center; */
    align-items: center;
  }
  .doctor-image{
    width: 0%;
  }
  .fb_heading{
    text-align: center;
  }
  .fb_p1 , .fb_p2 , .fb_p3 {
    text-align: center;
  }
}

@media screen and (max-width:800px) {
  .Feedback_left{
    width: 90%;
  }
  
}
@media screen and (max-width:650px) {
  .Feedback_container{
    width: 90%;
  }
  
}


@media screen and (max-width:560px) {
  .fb_textarea-box{
    width: 18rem;
  }
}
@media screen and (max-width:400px) {
  .fb_heading{
    font-size: 2rem;
  }
  .fb_textarea-box{
    width: 15rem;
    height: 8rem;
  }
}

@media screen and (max-width:355px) {
  .fb_textarea-box{
    width: 13rem;
    height: 8rem;
  }
}
/* 
@media (max-width: 1024px) {
  .infographics-bg {
    bottom: -18%; }
  
  .Feedback_container {
    padding: 2rem 1rem 0;
  }

  .fbl_heading {
    font-size: 25px;
    align-self: center;
  }
  .p1{
    font-size: 12px;
    align-self: center;
  }
  .p2{
    font-size: 12px;
    align-self: center;
  }
  .p3{
    font-size: 9px;
    align-self: center;
  }

  .textarea-box {
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 12px;
  }

  .submit {
    width: 60%;
    height: 1.5rem;
    margin-top: 0.2rem;
    margin-left: 2rem;
  }
}  */

/* @media (max-width: 600px) {
  .infographics-bg {
  bottom: -18%;
  }
  
  .Feedback_container {
    padding: 2rem 1rem 0;
  }


  .fb_heading {
    font-size: 20 px;
    align-self: center;
  }
  .fb_p1{
    font-size: 12px;
    align-self: center;
  }
  .fb_p2{
    font-size: 12px;
    align-self: center;
  }
  .fb_p3{
    font-size: 9px;
    align-self: center;
  }

  .fb_textarea-box {
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 12px;
  }

  .fb_submit {
    width: 60%;
    //height: 1.5rem; 
    margin-top: 0.2rem;
    margin-left: 2rem;
  }

  
 

} */