@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.hfifthp {
    background: #D4FFFF;
    
}

.hfifthp_upper {
    /* font-size: 1vw; */
    text-align: center;
    padding: 3vw;
    padding-top: 5vw;
    /* border:1px solid black; */
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: -5rem;
}

.hfifthp_upper p {
    /* margin:2.3vw;
    font-weight: 400;
    font-size: 2vw; */
    font-family: 'Sombra';
    font-style: normal;
    font-weight: 200;
    font-size: 15.5px;
    line-height: 1.3rem;
    /* display: flex;
    align-items: center;
    text-align: center; */
    /* margin-bottom: -4vw; */
    /* border:1px solid black; */

    color: #000000;
}

.hfifthp_upper h3 {
    
    /* margin: -1vw;  */
    font-family: 'Sombra';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    /* border:1px solid black; */
}

/* .hfifthp_lower{
    padding:0 1vw 0 1vw;
} */
.hfifthp_lower img{
    width:85vw;
    margin:auto;
    /* border:1px solid black; */
}
.search{
    position: relative;
    padding-left: 25vw;
    padding-right: 25vw;
    top:3.5vw;
    
}
@media screen and (max-width: 886px) {
    
    .search{
        position: relative;
        padding-left: 25vw;
        padding-right: 25vw;
        top:4vw;
    }
    .hfifthp_upper{
        padding-top: 2rem;
        width:100vw;
        padding:0;
        margin-bottom: -7vw;
    }
    .hfifthp_upper h3{
        font-size: 28px;
        position: relative;
        top:2vw;
    }
    .hfifthp_upper p{
        font-size: 14px;
        padding: 3vw;
    }
}
@media screen and (max-width: 500px){
    .hfifthp_lower img{
        display: none;
    }

    .hfifthp_upper h3 {
        font-size: 23px;

    }
    .search{
        position: relative;
        padding-left: 25vw;
        padding-right: 25vw;
        top:1vw;
    }
    
}