* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  color: #053b3f;
}
.our_team{
    display: flex;
    flex-direction: column;
    padding-top: 5.8rem;
}
.upper_div {
  padding-top: 4rem;
  padding-left: 6rem;
  position: relative;
  display: flex;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #F6F6F6;
  z-index: 1000;
}
.text_block{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}
.team_heading{
    font-size: 55px;
    font-weight: bolder;
    align-self: start;
}
.team_description{
    font-weight: 500;
    text-align:left;
    width: 50%;
}
.team_button {

    border-radius: 0.4375rem;
    background: #053b3f;
    width: 10.125rem;
    height: 2rem;
    color: white;
    font-weight: 500;
    flex-shrink: 0;
  }
.team_photo{
    width: 50%;
    height: 20%;
    align-self: flex-end;
}
.upper_bg{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -30%;
    width: 100%;
    height: auto;
    object-fit: cover;
  z-index: -1;
}

.lower_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}

.heading {
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.team_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 14rem;
  row-gap: 2rem;
  padding-bottom: 3rem;
}

.team_link {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  font-weight: bolder;
}
.link_text {
  align-self: center;
  padding-left: 1rem;
}



@media (min-width: 769px) and (max-width: 1024px) {
    .team_links {
      grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
      column-gap: 2rem; /* Adjust column gap */
      row-gap: 2rem; /* Adjust row gap */
    }
    .team_button{
      margin-bottom: 1.5rem;
    }
  }
   

  @media (max-width: 768px) {
    .upper_bg {
      bottom: -16%; /* Adjust the bottom value for better positioning on smaller screens */
    }
    .team_button{
      margin-bottom: 1.5rem;
    }
    .team_links{
      column-gap: 1rem;
    }
   .team_photo{
    display: none;
   }
  } 
  
  /* For screens between 769px and 1024px (typical tablets) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .upper_bg {
      display: none; /* Reset the bottom value for tablets */
    }

  }


  
  @media (max-width: 600px) {
    
    .upper_div {
      padding: 2rem 1rem 0;
    }
  
    .team_heading {
      font-size: 25px;
      align-self: center;
    }
  
    .team_description {
      font-weight: 500;
      text-align: center;
      width: 100%;
    }
  
    .team_button {
      width: 100%;
      margin-top: 1rem;
    }
  
    .lower_div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    
    .heading {
      font-size: 20px;
      margin-bottom: 1rem;
    }
  
    .team_links {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;
      padding-bottom: 1rem;
      align-self: flex-start;
      margin-left: 2rem;
    }
  
    .team_link {
      display: flex;
      align-items: center;
      padding: 10px;
      font-weight: bolder;
      text-align: center;
    }
    .team_photo{
        display: none;
    }
    .link_text {
      align-self: center;
      padding-left: 0;
    }
  }