.hfp_outer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#E9FFFF;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
}
.hfp_outer_left{
    padding-top: 1rem;
    text-align: left;
    width: 50vw;
}
.hfp_outer_right img{
    width: 30vw;
}
.hfp_outer div{
    margin: 0rem 0.5rem 0rem 0.5rem;
}
.hfp_outer_left span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    color: #505050;
}
.hfp_outer_left h2{
    font-family: 'Sombra';
    font-weight: 700;
    color: #000000;;
}
.hfp_outer_left h5{
    font-family: 'Sombra';
    font-style: normal;
    font-weight: 700;
    color: #5A3636;
}
/* .hfp_outer_left_searchbar{
    margin-top: 1rem;
} */
@media screen and (max-width: 768px){
    .hfp_outer{
        /* margin-top: 1rem; */
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }
    .hfp_outer_left{
        padding-top: 1rem;
        text-align: left;
        width: 90vw;
    }
    .hfp_outer_right img{
        width: 65vw;
    }
    .hfp_outer div{
        margin: 0rem 0.5rem 0rem 0.5rem;
    }
    .hfp_outer_left span{
        font-family: 'Noto Sans';
        font-size: small;
        font-weight: 400;
        color: #505050;
    }
    .hfp_outer_left h2{
        font-family: 'Sombra';
        font-weight: 700;
        color: #000000;;
    }
    .hfp_outer_left h5{
        color: #5A3636;
        font-weight: 700;
    }
}

@media screen and (max-width: 500px){
    .hfp_outer_right img{
        width: 90vw;
    }
}