// .htpt_outer_top {
//     box-shadow: 10px 10px 10px#bebebe75;
//     padding: 2rem;
//     display: flex;
//     flex-direction: column;
//     align-items: left;
//     justify-content: center;
//     text-align: left;
//     // border: 0.2rem solid black; 
//     background-color: #ffff;
// }

.htpt_outer_top h4 {
    font-family: 'Sombra';
    font-style: normal;
    font-weight: 700;
    color: #000000;
    font-size: large;
}

.htpt_outer_top span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    color: #505050;
    font-size: small;
}















.popover-wrapper {
    margin: 50px;
    border-radius: 3px;
    position: absolute;
    z-index: 3;
    box-shadow: 
      0 0 0 1px rgba(16,22,26,.1), 
      0 2px 4px rgba(16,22,26,.2), 
      0 8px 24px rgba(16,22,26,.2)
}

.popover-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
}

.popover-arrow {
  position: absolute;
}

.popover-arrow {
  &.arrow-north {
    right: calc(50% - -10px);
    top: -9px;
  }
  &.arrow-south {
    right: calc(50% - -10px);
    transform: rotate(-90deg);
    bottom: -9px;
  }
  &.arrow-east {
    left: -9px;
    top: calc(50% - -10px);
    transform: rotate(-90deg);
  }
  &.arrow-west {
    right: 11px;
    top: calc(50% - -10px);
    transform: rotate(-90deg);
  }
}
.popover-arrow:before {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 2px;
    content: "";
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.popover-arrow:after {
    content: '';
    display: block;  
    position: absolute;
    z-index: 1;
    left: auto;
    background: #fff;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 2px;
}